
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;

  background: #67b26f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container-fluid {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kumbh Sans', sans-serif;
}
.header-text{
 font-weight:BOLD;
  font-size: 2rem;
  font-family: 'Kumbh Sans', sans-serif;
  padding-bottom: 10%;
}
.content-card{
  border-radius:25px;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: white;
  width:58rem;
  z-index:1;

}
.outer{
z-index: 25;
width:80rem;
position: relative;
background-color:aqua;
}
.img-col{
  background-image: url('./images/bg-pattern-desktop.svg');
  background-size: cover;
  background-position: -100px;
  background-repeat: no-repeat;
  padding: 5rem;
  display: flex;
}
.box-image{
  height:250px;
  left: -210px;
  bottom:-60px;
  position: relative;
  z-index: 3;
}

main {
  padding: 1rem;
}
.banner-image-desk{
  left: -390px;
  position:relative;
  z-index: 2;
}

.banner-image-mobile{
  display: none;
}
.banner-image-desk{
  left:-150
}

p{
  font-size: 13px;
}

.dropdown:hover{
  color:hsl(14, 88%, 65%);
}
.p:active{
  color:hsl(0, 0%, 0%);
  font-weight: bold;
}
.drop-down-column{
  justify-content: center;
  align-items: center;
  margin:15% 10% 5% 5%;
  font-size: 12px;

}
.drop-item{
  display: flex;
  width:350px;
}
.dropdown-menu{
  width:350px;
}

hr{
  color: hsl(240, 5%, 91%)
}
.arrow{
  margin-left: auto;
  height:10px
}
.active img {
  transform: rotate(180deg);
}

@media (max-width: 600px) {
  .banner-image-mobile{
    display: block;
  }
  
  .banner-image-desk{
    display: none;
  }
  .box-image{
 display: none;
  }
  p{
    font-size: 12px;
  }
  .content-card{
    border-radius:25px;
    background-color: white;
    height:40rem;
    z-index:0;
  
  }
  h1{
    text-align: center;
  }
  .img-col{
    background-image: url('/images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    position: relative;
    background-position-x: center;
    top:-180px;

  }
  .banner-image-mobile{
    position: relative;
  }
  .drop-down-column{
    top:-180px;
    position:relative;
  }
  .drop-item{
    display: flex;
    width:280px
  }
  .dropdown-menu{
    width:220px;
  }
  
}
