@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;

  background: #67b26f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container-fluid {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kumbh Sans', sans-serif;
}
.header-text{
  font-weight:bolder;
  font-size: 2rem;
}
.content-card{
  border-radius:25px;
  background-color: white;
  width:60rem;
  z-index:0;

}
.img-col{
  background-image: url('/images/bg-pattern-desktop.svg');
  background-size: cover;
  background-position: -100px;
  background-repeat: no-repeat;
  padding: 5rem;
  display: flex;
}
.box-image{
  height:250px;
  left: -200px;
  bottom:-60px;
  position: relative;
  z-index: 1;
}

main {
  padding: 1rem;
}
.banner-image-desk{
  left: -390px;
  position:relative;
  z-index: -1;
}

.banner-image-mobile{
  display: none;
}
.banner-image-desk{
  left:-150
}

h1 {
  font-family: 'Kumbh Sans', sans-serif;

}
p{
  font-size: 15px;
}
.drop{
  --bs-btn-padding-y:0rem;
 
 }
.dropdown:hover{
  color:hsl(14, 88%, 65%);
}
.dropdown:focus{
  color:hsl(0, 0%, 0%);
  font-weight: bold;
}
.drop-down-column{
  display: column;
  justify-content: center;
  align-items: center;
  margin:5% 25% 5% 5%;
  font-size: 12px;

}
.drop-item{
  display: flex;
  width:350px;
}


hr{
  color: black;
}
.arrow{
  margin-left: auto;
  height:10px
}

@media (max-width: 600px) {
  .banner-image-mobile{
    display: block;
  }
  
  .banner-image-desk{
    display: none;
  }
  .box-image{
 display: none;
  }
}
