@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;

  background: #67b26f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container-fluid {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kumbh Sans', sans-serif;
}
.img-col{
  background-image: url('./images/bg-pattern-desktop.svg');
  background-size: cover;
  padding: 5rem;
  display: flex;
}

main {
  padding: 1rem;
}
.card{
}
.banner-image-mobile{
  display: none;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Kumbh Sans', sans-serif;

}
.dropdown-item {
  width: 400px;
}

@media (max-width: 600px) {
  .banner-image-mobile{
    display: block;
  }
  
  .banner-image-desk{
    display: none;
  }
}
